 <!---------------FOOTER START----------------------->
  <footer class="footer">
    <div class="wraper">
      <div class="footer_item">
        <div class="footer_logo">
          <img src="../img/svg/odigo-logo-footer.png" alt="" class="footer_logo_pic">
        </div>

        <nav class="footer_nav">
          <ul class="footer_menu">
            <h3 class="footer_menu_title">
              Company
            </h3>
            <li class="footer_menu_item">
              <a href="#!" class="footer_menu_link">
                Company
              </a>
            </li>
            <li class="footer_menu_item">
              <a href="#!" class="footer_menu_link">
                Company
              </a>
            </li>
            <li class="footer_menu_item">
              <a href="#!" class="footer_menu_link">
                Company
              </a>
            </li>
            <li class="footer_menu_item">
              <a href="#!" class="footer_menu_link">
                Company
              </a>
            </li>
            <li class="footer_menu_item">
              <a href="#!" class="footer_menu_link">
                Company
              </a>
            </li>
          </ul>

          <ul class="footer_menu">
            <h3 class="footer_menu_title">
              Company
            </h3>
            <li class="footer_menu_item">
              <a href="#!" class="footer_menu_link">
                Company
              </a>
            </li>
            <li class="footer_menu_item">
              <a href="#!" class="footer_menu_link">
                Company
              </a>
            </li>
            <li class="footer_menu_item">
              <a href="#!" class="footer_menu_link">
                Company
              </a>
            </li>
            <li class="footer_menu_item">
              <a href="#!" class="footer_menu_link">
                Company
              </a>
            </li>
            <li class="footer_menu_item">
              <a href="#!" class="footer_menu_link">
                Company
              </a>
            </li>
          </ul>
          <ul class="footer_menu">
            <h3 class="footer_menu_title">
              Company
            </h3>
            <li class="footer_menu_item">
              <a href="#!" class="footer_menu_link">
                Company
              </a>
            </li>
            <li class="footer_menu_item">
              <a href="#!" class="footer_menu_link">
                Company
              </a>
            </li>
            <li class="footer_menu_item">
              <a href="#!" class="footer_menu_link">
                Company
              </a>
            </li>
            <li class="footer_menu_item">
              <a href="#!" class="footer_menu_link">
                Company
              </a>
            </li>
            <li class="footer_menu_item">
              <a href="#!" class="footer_menu_link">
                Company
              </a>
            </li>
          </ul>
        </nav>
      </div>
  </footer>
  <!---------------FOOTER END----------------------- -->