<header class="header">
  <div class="wraper">
    <div class="header_wraper">
      <div class="header_logo">
        <a href="/" class="header_logo-link">
          <img src="../img/svg/odigo-Logo.svg" alt="Discover Amazing places in Japan" class="header_logo-pic">
        </a>
      </div>
      <nav class="header_nav">
        <ul class="header_list">
          <li class="header_item">
            <a href="#articles" class="header_link js-scroll">Articles</a>
          </li>
          <li class="header_item">
            <a href="#" class="header_link">Locations</a>
          </li>
          <li class="header_item">
            <a href="#" class="header_link">Videos</a>
          </li>
          <li class="header_item">
            <a href="login.html" class="header_link" id="loginLink">Login</a>
          </li>

          <div id="userMenu" style="display: none;">
            <span id="userName">User 👤</span>
            <div id="dropdown" style="display: none;">
              <button id="logoutBtn">Logout</button>
            </div>
          </div>
        </ul>
        <div class="header_nav_close">
          <span class="header_nav_close_line"></span>
          <span class="header_nav_close_line"></span>
        </div>
      </nav>
      <div class="header_burger burger">
        <span class="burger_line burger_line_first"></span>
        <span class="burger_line burger_line_second"></span>
        <span class="burger_line burger_line_third"></span>
      </div>
    </div>
  </div>
</header>