<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Axle</title>
  <!-- <link rel="stylesheet" href="/css/reset.css"> -->
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <section class="reg_section">

    <div class="tabs_conteiner_wrapper">

      <div class="login_title">
        <div class="login_title_img">
          <a href="index.html" class=""><img src="../img/svg/arr.png" alt="" class=""></a>
        </div>
        <h2 class="login_title_header">
          Вход
          </h3>
      </div>


      <div class="tabs_conteiner">

        <div class="tabs ">
          <div class="tab active  " onclick="openTab(0)">
            <div class="tab_font_style ">
              Почта
            </div>
          </div>
          <div class="tab " onclick="openTab(1)">
            <div class="tab_font_style">
              Телефон
            </div>
          </div>
        </div>

        <div id="formMessage" class="form-message"></div>

        <form class="tabs_conteiner" id="loginForm" action="#" method="POST">
          <div class="content active">
            <input type="email" placeholder="Email" class="input_class" required>
          </div>
          <div class="content active">
            <input type="password" placeholder="Password" class="input_class" required>
          </div>
          <div class=" content ">
            <input type=" text" placeholder="+7(000)0000000" class="input_class ">
          </div>


          <div class="btn_dalee_wrapper" id="first">
            <button type="submit" class="btn_dalee btn_dalee_wrapper_mar">login</button>
          </div>

      </div>



      <script>
        const token = localStorage.getItem('token');

        if (token) {
          window.location.href = '/';
        }

        document.getElementById('loginForm').addEventListener('submit', async (e) => {
          e.preventDefault();

          const inputs = e.target.querySelectorAll('input');
          const email = inputs[0].value;
          const password = inputs[1].value;

          const res = await fetch('http://localhost:3000/login', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ email, password })
          });

          const data = await res.json();
          const messageBox = document.getElementById('formMessage');

          if (res.ok) {
            localStorage.setItem('token', data.token);

            messageBox.style.color = 'green';
            messageBox.textContent = 'Успешный вход';

            const redirect = localStorage.getItem('redirectAfterLogin') || '/';
            localStorage.removeItem('redirectAfterLogin');

            window.location.href = redirect;

          } else {
            messageBox.style.color = 'red';
            messageBox.textContent = data.error || 'Ошибка';
          }
        });
      </script>




      HEAD <div class="btn_dalee_wrapper">
        <input type="button" class="btn_dalee" value="Создать ID">
    </div>

   


  </section>
  <script src="../js/main.js"></script>
</body>

</html>