html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -----------------RESET----------------------------------------------- */

/* lato-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-v25-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v25-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-v25-latin-900.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* -------------------LATO---------------------------------- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}





/* ---------------REG STYLE END-------------- */
body {
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: var(--bg-primary);
  /* margin-top: 100px; */
}





/* --------------ROOT START ------------------------- */
:root {
  --bg-primary: #ffffff;
  --bg-secondary: var(--bg-primary);
  --bg-header: rgba(0, 0, 0, .90);
  --bg-footer: #000000;
  --link-primary: var(--text-light);
  --link-primary-hover: #cacaca;

  --link-secondary: #1B7DFF;
  --link-secondary-hover: #014fb6;

  --text-primary: #000000;
  --text-secondary: #d4d4d4;
  --text-light: #ffffff;

  --border-default: 2px solid #979797;

  --img-overlay: rgba(21, 24, 36, .4);

  --transition-primary: 0.3s ease;
}

/* --------------ROOT END------------------------- */
.main {
  /* margin-top: 231px; */
  flex: 1;
}

.wraper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 15px;
}

.wraper_full {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0px;
}

.section_title {
  font-size: 35px;
  font-weight: 500;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px;
  color: var(--text-primary);

}

.section_title::after {
  display: block;
  content: '';
  width: 253px;
  height: 3px;
  background-color: var(--link-secondary);
  position: absolute;
  bottom: 0px;
  left: 0px;
}

/* -------------HEADER STYLES START--------------------- */
.header {
  background-color: #000;
  /* position: fixed; */
  top: 0px;
  left: 0px;
  width: 100%;
  transition: var(--transition-primary);
  padding: 20px;
  z-index: 999;
  /* margin-bottom: 250px; */
}

.header_active {
  background: var(--bg-header);
}

.header_wraper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}

.header_list {
  display: flex;
  flex-wrap: wrap;
}

.header_item {
  margin-right: 82px;
}

.header_item:last-child {
  margin-right: 0px;
}

.header_link {
  font-size: 18px;
  line-height: 24px;
  color: var(--bg-primary);
  text-decoration: none;
  transition: var(--transition-primary);
}

.header_link:hover,
.header_link:focus,
.header_link:active {
  color: var(--link-primary-hover);
}

.header_burger {
  width: 40px;
  height: 28px;
  position: relative;
  display: none;
}

.burger_line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--bg-primary);
  position: absolute;
  left: 0;
}

.burger_line_first {
  top: 0;
}

.burger_line_second {
  top: 50%;
  transform: translateY(-50%);
}

.burger_line_third {
  bottom: 0;
}

/* -------------HEADER STYLES END--------------------- */



/* -------------BENEFITS STYLES START--------------------- */
.benefits {
  margin-bottom: 40px;
}

.benefits_wrap {
  max-width: 1262px;
  width: 100%;
  background-color: var(--bg-primary);
  margin: 0 auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
}

.benefits_title {
  width: 100%;
  font-size: 35px;
  font-weight: 500;
  line-height: 42px;
  padding: 40px 100px 40px 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  color: var(--text-primary);
  background-color: var(--bg-secondary);
  /* transform: translateY(-100%); */
}

.benefits_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 0 100px;
  color: var(--text-primary);
}

.benefits_card {
  grid-column: span 1;
  margin-bottom: 40px;
}

.benefits_card_pic {
  max-width: 66px;
  margin-top: 120px;
}

.benefits_card_title {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 26px;
}

.benefits_card_descr {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}

.benefits_card_more {
  display: inline-block;
  padding-right: 59px;
  font-size: 16px;
  line-height: 24px;
  color: var(--link-secondary);
  text-decoration: none;
  background: url(../img/svg/arrow_right_ico.svg) no-repeat 95% center;
  transition: var(--transition-primary);
}

.benefits_card_more:hover,
.benefits_card_more:focus {
  background: url(../img/svg/arrow_right_ico.svg) no-repeat right center;
}

/* -------------BENEFITS STYLES END--------------------- */

/* ---------------PLACES START----------------------->*/
.places {
  margin-bottom: 131px;
}

.places_caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.places_title {
  margin-right: 15px;
}

.places_view_all {
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  color: var(--link-secondary);
  padding-right: 59px;
  background: url(../img/svg/arrow_right_ico.svg) no-repeat 95% center;
  transition: var(--transition-primary);
  text-decoration: none;
}

.places_view_all:hover,
.places_view_all:focus {
  background: url(../img/svg/arrow_right_ico.svg) no-repeat right center;
}

.places_cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.places_card_size_lg {
  grid-column: span 3;
}

.places_card_size_sm {
  grid-column: span 2;
}

.places_card_pic {
  width: 100%;
  height: 354px;
  object-fit: cover;
  transition: var(--transition-primary);
}

.places_card_pic_size_lg {
  height: 354px;
  object-fit: cover;
}

.places_card_pic_size_sm {
  height: 283px;
  object-fit: cover;
}

.places_card {
  position: relative;
  overflow: hidden;
}

.places_card::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: var(--img-overlay);
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
}

.places_card:hover .places_card_pic {
  scale: 1.05;
}

.places_card_title {
  font-size: 50px;
  line-height: 60px;
  color: var(--bg-primary);
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}

.places_card_link {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.places_card_size_sm {
  column-span: 2;
}

/* ---------------PLACES END----------------------- */



/*---------------TOURS START---------------------*/
.tours {
  color: var(--text-primary);
  margin-bottom: 139px;
}

.tours_tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 108px;
  align-items: center;
  margin-bottom: 77px;
}

.tour_title {
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
  margin-bottom: 85px;
  max-width: 400px;
}

.tour_desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 58px;
}

.tour_more {
  font-size: 16px;
  color: var(--link-secondary);
  text-decoration: none;
  padding-right: 59px;
  background: url(../img/svg/arrow_right_ico.svg) no-repeat 95% center;
  transition: var(--transition-primary);
}

.tour_more:hover,
.tour_more:focus {
  color: var(--link-secondary-hover);
  background: url(../img/svg/arrow_right_ico.svg) no-repeat right center;
}

.tour_info_padd_conteiner {
  padding-left: 47px;
  padding-right: 47px;
}

/*---------------TOURS END-----------------------*/


/*---------------TOP START-----------------------*/
.top {
  margin-bottom: 86px;
}

.top_title {
  margin-bottom: 54px;
}

.top_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 57px;
}

.top_card {
  display: flex;
  flex-direction: column;
}

.top_card_pic {
  position: relative;
  margin-bottom: 45px;
}

.top_card_stat {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: var(--img-overlay);
  padding: 16px 25px;
}

.top_card_title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: var(--text-light);
  margin-right: auto;
}

.top_card_likes {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  background: url(../img/svg/haert_icon.svg) no-repeat right;
  padding-right: 20px;
  margin-right: 14px;
}

.top_card_comments {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding-right: 23px;
  background: url(../img/svg/comment_icon.svg) no-repeat right;
}

.top_card_desc {
  color: var(--text-primary);
  margin-bottom: 31px;
  font-size: 16px;
  line-height: 24px;
}

.top_card_more {
  width: 118px;
  background: var(--link-secondary);
  color: var(--text-light);
  text-decoration: none;
  padding: 12px 19px;
  font-size: 16px;
  margin: auto 0 0 0;
}

.top_card_more:hover,
.top_card_more:active,
.top_card_more:focus {
  background: var(--link-secondary-hover);
  color: var(--text-secondary);
  text-decoration: none;
  padding: 12px 19px;
  font-size: 16px;
}

/*---------------VIDEO START-----------------------*/
.videos {
  width: 100%;
}

.videos_wraper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.videos_item {
  padding-top: 56.9%;
}

.video_element {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

/*---------------VIDEO END-------------------------*/

/*---------------FOOTER STYLES START---------------*/
.footer {
  background: var(--bg-footer);
  padding: 119px 0;
}

.footer_item {
  display: flex;
  flex-wrap: wrap;
}

.footer_logo {
  width: 50%;
}

.footer_nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
}

.footer_menu_title {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: var(--text-light);

}

.footer_menu_link {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: var(--text-light);
}

.footer_menu_link:hover,
footer_menu_link:focus,
footer_menu_link:active {
  color: var(--link-primary-hover);
}

/*---------------FOOTER STYLES END-----------------*/

/*---------------MEDIA START-----------------------*/
@media screen and (max-width:925px) {

  .top_cards {
    grid-gap: 3px;
  }

  .top_card {
    margin-bottom: 10px;
  }

  .top_card_desc {
    padding: 0 5px;
  }

  .top_card_pic {
    margin-bottom: 12px;
  }

  .benefits {
    margin-bottom: 15px;
  }

  .places_caption {
    padding-left: 10px;
  }

  .places {
    margin-bottom: 30px;
  }

  .tours_tour {
    grid-gap: 0px;
    margin-bottom: 30px;
  }

  .tour_desc {
    margin-bottom: auto;
  }

  .tour_title {
    margin-bottom: auto;
  }

  .tour_info {
    height: 100%;
    /* background-color: #1B7DFF; */
  }

  .tour_info_padd_conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* равномерно по высоте */
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .tour_pic {
    height: 95%;
  }



  /* .benefits {
    padding-bottom: 0px;
  } */
  .places_card_size_lg {
    grid-column: span 6;

  }

  .places_card_size_sm {
    grid-column: span 6;
    height: 354px;
    overflow: hidden;
  }

  .places_card_pic_size_sm {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .wraper_full {
    padding: 0;
  }

  .intro {
    height: 100vh;
    background: url("../img/intro-bg.jpg") no-repeat center;
    background-size: cover;
  }

  .benefits_cards {
    padding: 0 15px;
    grid-column-gap: 35px;
    margin-bottom: 0px;
  }

  .benefits_title {
    padding: 25px 15px;
  }

  .benefits_wrap {
    box-shadow: none;
  }
}

@media screen and (max-width:768px) {

  .places {
    margin-bottom: 30px;
  }

  .tours_tour {
    grid-gap: 0px;
    margin-bottom: 30px;
  }

  .tour_desc {
    margin-bottom: auto;
  }

  .tour_title {
    margin-bottom: auto;
  }

  .tour_info {
    height: 100%;
    /* background-color: #1B7DFF; */
  }

  .tour_info_padd_conteiner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* равномерно по высоте */
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .tour_pic {
    height: 95%;
  }

  .places_card_size_lg {
    grid-column: span 6;
  }

  .places_card_size_sm {
    grid-column: span 6;
    height: 354px;
    overflow: hidden;
  }

  .places_card_pic_size_sm {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 💥 ключевая строка */
  }

  .wraper_full {
    padding: 0;
  }

  .intro {
    height: 100vh;
    background: url("../img/intro-bg.jpg") no-repeat center;
    background-size: cover;
  }

  .benefits {
    margin-bottom: 40px;
  }

  .benefits_card {
    margin-bottom: 0px;
  }

  .header_burger {
    display: block;
    z-index: 2;
  }

  .header_nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
  }

  .header_nav_active {
    transform: translateX(0%);
    transition: 1 linear;
  }

  .header_item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header_item:last-child {
    margin-bottom: 0px;
  }

  .header_link {
    font-size: 42px;
    line-height: 48px;
  }

  .header_nav_close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }

  .header_nav_close_line {
    width: 100%;
    display: block;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
  }

  .header_nav_close_line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }

  .header_nav_close_line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }
}

@media screen and (max-width: 375px) {

  .main {
    
    /* height: 200px; */
    width: 100%;
    overflow: visible;
    display: flex;
    background-color: blueviolet;
  }

  .intro {
    height: auto;
    /* padding-top: 120px; */
    /* padding-bottom: 100px; */
  }

  .benefits_cards {
    /* grid-template-columns: 1; */
    display: block;
    margin-bottom: 40px;
  }

  .benefits_card_pic {
    margin-bottom: 10px;
    width: 100%;
  }

  .benefits_card_title {
    margin-bottom: 11px;
  }

  .benefits_card_descr {
    margin-bottom: 11px;
  }

  .benefits_card {
    margin-bottom: 25px;
  }

  /* .search_form_info {
    flex-direction: column;
  }

  .search_form_field {
    width: 100%;
    margin-right: 0;
  }

  .search_form_submit {
    width: 100%;
  } */
}

/*---------------MEDIA END-------------------------*/




/* ---------------REG STYLE START-------------- */
.reg_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/login-wp/login-wp1.jpeg) no-repeat;
  background-size: cover;
  height: 100vh;
}

.tabs_conteiner_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 320px;
  height: 480px;
  background-color: #ffffff;
  border-radius: 40px;
  padding: 30px;

}

.login_title {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  /* ← ВОТ ЭТО ВАЖНО */
}

.login_title_img {
  scale: .4;
  padding-top: 25px;
}

.login_title_header {
  color: #000;
  /* position: absolute; */
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 25px;
  height: 50px;

}

.form-message {
  margin-top: 10px;
  font-size: 14px;
  color: red;
  min-height: 20px;
}


.tabs_conteiner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;

}

.tabs {
  color: rgb(185, 185, 185);
  display: flex;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #eee;
  padding: 5px;
  border-radius: 25px;
}

.tab {
  padding: 10px 20px;
  border-bottom: none;
  background: #eee;
  color: #414141;
  width: 120px;
  height: 45px;
  border-radius: 25px;
}

.tab.active {
  background: white;
  font-weight: bold;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  color: #000;
}

.input_class {
  border: none;
  font-size: 22px;
  max-width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.input_class:focus {
  outline: none;

}

.content {
  width: 245px;
  height: 55px;
  padding: 20px;
  display: none;
  color: #000;
  border: 1px solid #000;
  border-radius: 25px;

}

.content.active {
  margin-top: 10px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.btn_dalee_wrapper {
  margin-top: 10px;
  width: 245px;
  min-height: 55px;
  border-radius: 25px;


}

.btn_dalee.btn_dalee_wrapper_mar {
  background: transparent;
  background-color: #2e2e2e;
  color: #ffffff;
}

.btn_dalee_wrapper#first {
  margin-top: 30px;
}

.btn_dalee {
  width: 245px;
  height: 55px;
  border: .3px solid #BFC0C5;
  border-radius: 25px;
  cursor: pointer;
  color: #000000;
  background-color: #ffffff;
  transition: .4s ease-in-out;
}

.btn_dalee:hover,
.btn_dalee:active,
.btn_dalee:focus {
  background-color: #e7e7e7;
}

#first .btn_dalee:hover,
#first .btn_dalee:active,
#first .btn_dalee:focus {
  background-color: #000000;
}